{% extends 'flatpages/default.html' %}
{% load censor %}  <!-- Подгружаем фильтры -->

{% block title %}
{{ category.name }}
{% endblock title %}

{% block header %}
{{ category.name }}
{% endblock header %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<div align="center">
    <h3>
Хотите подписаться на эту категорию?
</h3>
<br>
</div>

<div align="center">
{% if user.is_authenticated %}
    {% if not is_subscriber %}
        <form action="{% url 'subscribe_category' category.pk %}" method="POST">
            {% csrf_token %}
            <p><input class="btn btn-secondary btn-lg" type="submit" value="Подписаться"></p>
        </form>
    {% endif %}
    {% if is_subscriber %}
        <form action="{% url 'subscribe_category' category.pk %}" method="POST">
            {% csrf_token %}
            <p><h4> Вы подписаны </h4><input class="btn btn-secondary btn-lg" type="submit" value="Отписаться"></p>
        </form>
    {% endif %}
{% endif %}
</div>

{% if posts_in_category %}
        <table width="150%" align="right">
        <style>
        table {
        margin: auto; /* Выравниваем таблицу по центру окна  */
        }
        td {
        text-align: center; /* Выравниваем текст по центру ячейки */
        }
        </style>
            <tr>
                <td width=200>
                    <b> Заголовок </b>
                </td>
                <td width=200>
                    <b> Дата публикации </b>
                </td>
                <td>
                    <b> Превью </b>
                </td>
                <td>
                    <b> Категория </b>
                </td>
            </tr>
            {% for post in posts_in_category %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title|title }} </a>
                    <style>
                    a {
                    color: Grey; /* Цвет ссылок */,
                    padding: 2px; /* Поля вокруг текста ссылки */
                    text-decoration: none; /* Убираем подчёркивание */
                    }
                    a:hover {
                    color: Black; /* Новый цвет текста */
                    }
                    </style>
                    <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование-->
                    <a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a> <!-- добавим ссылку на удаление-->
                </td>
                <td>
                    {{ post.created_at|date:'M d Y' }}
                </td>
                <td>
                    {{post.text|censor|truncatewords:20}}
                </td>
                <td>
                    {% for category in post.category.all %}
                            <a href="{% url 'category' category.pk %}"> {{ category }} </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
{% endif %}
{% endblock content %}