{% extends 'flatpages/default.html' %}
{% load censor %}  <!-- Подгружаем фильтры -->

{% block title %}
Поиск
{% endblock title %}

{% block header %}
Поиск
{% endblock header %}


{% block content %}

<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    {{ filter.form }} <!-- Форму создает Джанго, а кнопку необходимо добавить -->
    <input type="submit" value="Найти">
</form>
<hr>
    {% if posts %}
        <table width="150%" align="right">
        <style>
        table {
        margin: auto; /* Выравниваем таблицу по центру окна  */
        }
        td {
        text-align: center; /* Выравниваем текст по центру ячейки */
        }
        </style>
            <tr>
                <td width=200>
                    <b> Заголовок </b>
                </td>
                <td width=200>
                    <b> Дата публикации </b>
                </td>
                <td>
                    <b> Превью </b>
                </td>
            </tr>
            {% for post in filter.qs %}
            <tr>
                <td>
                    {{ post.title|title }}
                </td>
                <td>
                    {{ post.created_at|date:'M d Y' }}
                </td>
                <td>
                    {{post.text|censor|truncatewords:20}}
                </td>
            </tr>

            {% endfor %}
        </table>
    <hr>
        <!-- Проверяем что поддерживается постраничный вывод -->
        {% if is_paginated %}
            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

            <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    {% endif %}
    <hr>
{% endblock content %}