{% comment About %}
Mail notification after subscribe
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Confirmation</title>
</head>
<body>
    <h2 align="center">Спасибо за подписку, <font color="Indigo"> Ув. {{category_user}}!</font></h2>
    <p align="center">Вы успешно подписались на обновления в категории <font color="Indigo">{{ category_name }}</font></p>
</body>
</html>