{% comment About %}
Mail notification after unsubscribe
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribe Confirmation</title>
</head>
<body>
    <h2 align="center">Спасибо, что читаете нас, <font color="Indigo"> Ув. {{category_user}}!</font></h2>
    <p align="center">Вы успешно отписались от обновлений в категории <font color="Indigo"> {{ category_name }}</font></p>
</body>
</html>