{% comment About %}
New post in category
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новая новость в Вашей любимой категории</title>
</head>
<body>
    <h2 align="center"> Дорогой читатель! </h2>
    <p align="center"> В вашей любимой категории <font color="Indigo"> {{ new_post_category }}</font> вышел новый пост <i>{{ new_post }}</i>. Торопитель посмотреть по ссылке http://127.0.0.1:8000/news/{{ new_post_id }} </p>
</body>
</html>